# For fetching our site content
TRELLO_LIST_ID=''
TRELLO_BOARD_URL=''

# Let's see include staged content when running locally
BRANCH='stage'

# For registering a webhook with Trello
# Get yours at https://trello.com/app-key
TRELLO_TOKEN='3ef536789bc09bfd9216aa505396261414f3255223d7b0243c4e42619d5b6e0f'
TRELLO_KEY='0962c6ee96fc7718f546b2923ce11245'
